/** biome-ignore-all lint/correctness/noUnknownTypeSelector: Just using the View Transition API/ well all types I dont know */
/** biome-ignore-all lint/complexity/noImportantStyles: using important is fine */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Nunito, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-weight-light: 700;
  --font-weight-normal: 700;
  --font-weight-medium: 700;
  --font-weight-semibold: 700;
  --font-serif: PT Serif, serif;
  --radius: 0.5rem;

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);

  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);

  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);

  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);

  --color-destructive-foreground: var(--destructive-foreground);
  --color-primary-border: var(--primary-border);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9816 0.0017 247.839);
  --foreground: oklch(0.1649 0.0352 281.8285);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1649 0.0352 281.8285);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1649 0.0352 281.8285);
  --primary: oklch(0.6726 0.2904 341.4084);
  --primary-border: oklch(56.481% 0.20217 337.995);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9595 0.02 286.0164);
  --secondary-foreground: oklch(0.1649 0.0352 281.8285);
  --muted: oklch(0.9595 0.02 286.0164);
  --muted-foreground: oklch(0.1649 0.0352 281.8285);
  --accent: oklch(0.8903 0.1739 171.269);
  --accent-foreground: oklch(0.1649 0.0352 281.8285);
  --destructive: oklch(0.6535 0.2348 34.037);
  --border: oklch(0.9205 0.0086 225.0878);
  --input: oklch(0.9205 0.0086 225.0878);
  --ring: oklch(0.6726 0.2904 341.4084);
  --chart-1: oklch(0.6726 0.2904 341.4084);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8903 0.1739 171.269);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.9595 0.02 286.0164);
  --sidebar-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-primary: oklch(0.6726 0.2904 341.4084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8903 0.1739 171.269);
  --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-border: oklch(0.9205 0.0086 225.0878);
  --sidebar-ring: oklch(0.6726 0.2904 341.4084);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Reddit Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Reddit Mono, ui-monospace, monospace;
  --font-mono: Reddit Mono, ui-monospace, monospace;
  --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 0.5);
  --shadow-sm:
    3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 1), 3px 1px 2px -1px
    hsl(325.78 58.1800% 56.8600% / 1);
  --shadow:
    3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 1), 3px 1px 2px -1px
    hsl(325.78 58.1800% 56.8600% / 1);
  --shadow-md:
    3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 1), 3px 2px 4px -1px
    hsl(325.78 58.1800% 56.8600% / 1);
  --shadow-lg:
    3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 1), 3px 4px 6px -1px
    hsl(325.78 58.1800% 56.8600% / 1);
  --shadow-xl:
    3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 1), 3px 8px 10px -1px
    hsl(325.78 58.1800% 56.8600% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.1800% 56.8600% / 2.5);
  --tracking-normal: 0.025em;
}

.dark {
  --background: oklch(0.1649 0.0352 281.8285);
  --foreground: oklch(0.9513 0.0074 260.7315);
  --card: oklch(0.2542 0.0611 281.1423);
  --card-foreground: oklch(0.9513 0.0074 260.7315);
  --popover: oklch(0.2542 0.0611 281.1423);
  --popover-foreground: oklch(0.9513 0.0074 260.7315);
  --primary: oklch(0.6726 0.2904 341.4084);
  --primary-border: oklch(51.527% 0.16092 337.309);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2542 0.0611 281.1423);
  --secondary-foreground: oklch(0.9513 0.0074 260.7315);
  --muted: oklch(0.2123 0.0522 280.9917);
  --muted-foreground: oklch(0.6245 0.05 278.1046);
  --accent: oklch(0.8903 0.1739 171.269);
  --accent-foreground: oklch(0.1649 0.0352 281.8285);
  --destructive: oklch(0.6535 0.2348 34.037);
  --border: oklch(0.3279 0.0832 280.789);
  --input: oklch(0.3279 0.0832 280.789);
  --ring: oklch(0.6726 0.2904 341.4084);
  --chart-1: oklch(0.6726 0.2904 341.4084);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.8442 0.1457 209.2851);
  --chart-4: oklch(0.8903 0.1739 171.269);
  --chart-5: oklch(0.9168 0.1915 101.407);
  --sidebar: oklch(0.1649 0.0352 281.8285);
  --sidebar-foreground: oklch(0.9513 0.0074 260.7315);
  --sidebar-primary: oklch(0.6726 0.2904 341.4084);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8903 0.1739 171.269);
  --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-border: oklch(0.3279 0.0832 280.789);
  --sidebar-ring: oklch(0.6726 0.2904 341.4084);
  --destructive-foreground: oklch(1 0 0);
  --radius: 0.5rem;
  --font-sans: Reddit Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Reddit Mono, ui-monospace, monospace;
  --font-mono: Reddit Mono, ui-monospace, monospace;
  --shadow-color: #324859;
  --shadow-opacity: 1;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-offset-x: 3px;
  --shadow-offset-y: 3px;
  --letter-spacing: 0.025em;
  --spacing: 0.25rem;
  --shadow-2xs: 3px 3px 0px 0px var(--border);
  --shadow-xs: 3px 3px 0px 0px var(--border);
  --shadow-sm: 3px 3px 0px 0px var(--border), 3px 1px 2px -1px var(--border);
  --shadow: 3px 3px 0px 0px var(--border), 3px 1px 2px -1px var(--border);
  --shadow-md: 3px 3px 0px 0px var(--border), 3px 2px 4px -1px var(--border);
  --shadow-lg: 3px 3px 0px 0px var(--border), 3px 4px 6px -1px var(--border);
  --shadow-xl: 3px 3px 0px 0px var(--border), 3px 8px 10px -1px var(--border);
  --shadow-2xl: 3px 3px 0px 0px var(--border);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }

  .shadow-primary {
    box-shadow: 0px 2px 0px 0px var(--primary-border);
    border-width: 2px !important;
  }
  .shadow-destructive {
    box-shadow: 3px 3px 0px 0px var(--destructive);
  }
  .shadow-destructive-border {
    box-shadow: 3px 3px 0px 0px var(--destructive-border);
  }

  .texture {
    background-image: url(https://matsu-theme.vercel.app/texture.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
    opacity: 0.12;
    mix-blend-mode: multiply;
    z-index: 100;
    isolation: isolate;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    pointer-events: none;
  }

  .main {
    @apply m-0;
  }

  .section-parent-header {
    @apply flex flex-col gap-4 md:gap-8 mb-4 md:mb-8;
  }

  .section {
    @apply w-full  px-4 md:px-8 py-12 sm:py-16;
  }

  .section-header {
    @apply text-3xl md:text-5xl font-bold;
  }

  /* In your globals.css or tailwind.css */
}

/* View Transition API for Theme Switch */
::view-transition-group(root) {
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

::view-transition-new(root) {
  mask:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top left / 0 no-repeat;
  -webkit-mask-origin: content-box;
  mask-origin: content-box;
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top left;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top left;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation: scale 1s;
  animation-fill-mode: both;
  transform-origin: top left;
}

@keyframes scale {
  to {
    -webkit-mask-size: 350vmax;
    mask-size: 350vmax;
  }
}
